# ====================================================================
# Configuración del Entorno - Frontend (Vite)
# ====================================================================

# Base URL para el backend local (tu compañero usará este por defecto para el desarrollo local conjointo).
VITE_API_URL=http://localhost:8001
