# ============================================
# Variables de Entorno Locales (Backend)
# ============================================

# Base de Vectores Remota (EC2 Ubuntu)
CHROMA_HOST=100.53.97.129
CHROMA_PORT=8000

# Infraestructura AWS compartida
S3_BUCKET=auditoria-temp-docs-d52a43b1
DYNAMO_TABLE=AuditFindings
AWS_DEFAULT_REGION=us-east-1

# Perfil de AWS
AWS_PROFILE=complai-auditor

# AWS_ACCESS_KEY_ID=tu_access_key (Descomentar y rellenar si no usas perfil de AWS SSO)
# AWS_SECRET_ACCESS_KEY=tu_secret_key (Descomentar y rellenar si no usas perfil de AWS SSO)
